USE [master]
GO
/****** Object:  Database [escuela]    Script Date: 06/12/2018 19:54:34 ******/
CREATE DATABASE [escuela]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'escuela', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\escuela.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'escuela_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\escuela_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [escuela].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [escuela]
GO
/****** Object:  Table [dbo].[alumnos]    Script Date: 06/12/2018 19:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alumnos](
	[numero] [int] NULL,
	[nombre] [varchar](15) NULL,
	[apellido_p] [varchar](20) NULL,
	[apellido_m] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registro]    Script Date: 06/12/2018 19:54:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registro](
	[nombre] [varchar](30) NOT NULL,
	[edad] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
